---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Natalie Revorêdo | Arte, Dança e Iluminação Cênica">
  <div class="mx-auto max-w-5xl px-8 min-h-screen flex flex-col items-center pt-40 ">
     <h2 class="font-ralewayBold text-secondary text-2xl md:text-4xl mb-8 ">
      Eventos
    </h2>
  </div.>


  <div class="mx-auto max-w-5xl px-8 min-h-screen flex flex-col items-start" style="margin-top: -300px;">
    <div class="flex items-center mb-8 ml-4 md:ml-0"> 
        <div class="mr-4 transform transition-transform duration-500 hover:scale-105">
            <img src="/public/images eventos/corpoluz semente de criação.jpeg" alt="Imagem Corpo Luz semente criação" class="h-64 md:h-96 w-auto"> 
            <p class="text-white text-sm mt-2">
                arte: <a href="https://www.instagram.com/priscila.avelin" target="_blank" class="text-yellow-600 underline">Pri Avelin</a>
            </p>
        </div>
        <div class="text-left">
            <h2 class="font-ralewayBold text-white text-2xl md:text-4xl mb-4">
                Corpo Luz
            </h2>
            <p class="font-ralewayRegular text-white text-xs md:text-sm mb-4">
                Semente de criação
            </p>
            <p class="font-ralewayRegular text-white text-base mb-4">
                Corpo-mulher-território: iluminação, dança e escrita <br> como caminhos para criação
            </p>
           
        </div>
    </div>
</div>

</div>

<div class="mx-auto max-w-5xl px-8 min-h-screen flex flex-col items-start" style="margin-top: -150px;">
    <div class="flex items-center mb-8 ml-4 md:ml-0"> 
        <div class="mr-4 transform transition-transform duration-500 hover:scale-105">
            <img src="/public/images eventos/SUCUARANAS.jpeg" alt="Imagem Corpo Luz semente criação" class="h-64 md:h-96 w-auto"> 
            <p class="text-white text-sm mt-2">
                arte: <a href="https://www.instagram.com/priscila.avelin" target="_blank" class="text-yellow-600 underline">Pri Avelin</a>
              </p>
        </div>
        <div class="text-left">
            <h2 class="font-ralewayBold text-white text-2xl md:text-4xl mb-4">
                Suçuaranas
            </h2>

            <p class="font-ralewayRegular text-white text-xs md:text-sm mb-4">
                Mulheres em fuga
            </p>
            
            <p class="font-ralewayRegular text-white text-base mb-4">
                Quais as rotas de fuga? eis a pergunta.
            </p>
           
        </div>
    </div>
</div>

</div>

</Layout>
