---
import Carousel from "@/components/Carousel";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Natalie Revorêdo | Arte, Dança e Iluminação Cênica">
  <Carousel/>
  <div
    class="mx-auto max-w-5xl px-4 min-h-screen flex flex-col items-center pt-40 text-center border border-white"
  >
   
  </div>
</Layout>
