---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Natalie Revorêdo | Arte, Dança e Iluminação Cênica">
  <div
    class="mx-auto max-w-5xl px-4 min-h-screen flex flex-col items-center justify-center text-center border border-white"
  >
    Sobre
  </div>
</Layout>
